html,
body {
  height: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
}

body *,
body *:before,
body *:after {
  box-sizing: inherit;
}

body > .ember-view {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.top-click-zone {
  z-index: 1000;
  opacity: 0.95;
}

.result-display {
  position: fixed;
  top: 0;
  left: calc((100% - 1280px) / 2);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1280px;
}

.result-display__square-box {
  margin: 5px;
  font-weight: bold;
  font-size: 8em;
}

.square-box {
  height: 200px;
  width: 200px;
}

.square-box_content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.square-box--big {
  height: 500px;
  width: 500px;
}

.square-box--small {
  height: 150px;
  width: 150px;
}

.square-box--blue {
  background-color: #9ce7fc;
}

.square-box--red {
  background-color: #ee9d91;
}

.square-box--no-color {
  border: 1px solid #a5a5a5;
}
