<div class="text-center">
  <h1>Advanced Case</h1>

  <AdvancedCaseDemo />

  <hr />

  <div class="advanced-case__source">
    <code>
      <pre>
const AdvancedCaseDemo = Component.extend({
  click() {
    this.addBox('Z');
  },

  // ...
});
      </pre>
    </code>
  </div>
</div>