<div class="text-center">
  <h1>Ember Event Sequence Demo</h1>

  <p>This demo displays the sequence of event handling in EmberJS.</p>

  <p>Use the menu on the left to navigate to different cases.</p>
</div>